<template name="calendar">
{{>menu}}
<div class="ui page grid">
    <div class="ui column">
        <div class="ui attached segment calendar-container">
            <table class="ui unstackable table calendar">
                <col span="1" class="wide-col">
                <thead>
                    <tr>
                        <th class="empty"></th>
                        {{#each calendarUsers}}
                        <th class="name"><div>{{profile.name}}</div></th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each days}}
                    <tr data-date="{{date}}" class="{{#if weekend}} weekend{{/if}}">
                        <td class="date">
                            <button class="ui fluid labeled icon small {{#if weekend}}red{{else}}teal{{/if}} button btn-day">
                            <i class="mail {{#if hasNotes}}{{else}}outline disabled{{/if}} icon"></i>
                            <span class="wide-only">{{day_name}}</span>
                            <span class="narrow-only">{{day_short}}</span>
                            {{date_display}}
                            </button>
                        </td>
                        {{#each calendarUsers}}
                        <td class="status"><div data-user="{{_id}}" class="circular ui{{#if willCome _id ../date}} green{{/if}}{{#if isMyColumn _id}} huge icon button btn-enable{{else}} label{{/if}}"></div></td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <button id="btn-more-days" class="ui bottom attached green big fluid icon button"><i class="ui angle double down icon"></i> Dalších 10 dnů <i class="ui angle double down icon"></i></button>
    </div>
</div>
</template>
