<template name="menu">
<div class="ui fixed top main inverted menu">
  <a class="item{{#if currentUser}} enabled{{else}} disabled{{/if}}{{#if activeRoute 'calendar'}} active{{/if}}" href="/calendar">
    <i class="calendar icon"></i> Kalendář
  </a>
  <a class="item{{#if currentUser}} enabled{{else}} disabled{{/if}}{{#if activeRoute 'messages'}} active{{/if}}" href="/messages">
    <i class="write icon"></i> Vzkazy
  </a>
  {{#if currentUser}}
  <div class="right menu">
    <span class="disabled item">
    <i class="user icon"></i>
    {{currentUser.profile.name}}
    </span>
    <a class="item" id="menu-logout">
      <i class="log out icon"></i> <span class="wide-only">Odhlásit se</span>
    </a>
  </div>
  {{/if}}
</div>
</template>