<template name="messages">
{{> menu}}
{{#if currentUser}}
<div class="ui one column page grid">
  <div class="ui column">
    <div class="ui segment">
      <div class="ui form">
        <div class="ui fluid field">
          <textarea id="frm-message"></textarea>
        </div>
        <div class="align-right">
          <button class="positive ui big button" id="btn-save-message"><i class="save icon"></i>Uložit vzkaz</button>
        </div>
      </div>
    </div>
  </div>
  <div id="simplechat" class="ui column messages">
    {{#each messages}}
    <div class="ui raised segment chat-message">
      <div class="header">
        <div class="ui left ribbon {{color user}} label">
          {{name user}}
          <div class="detail">{{date timestamp}}</div>
        </div>
        {{#if isMyMessage user}}
        <div class="message-edit-buttons">
          <button data-message="{{_id}}" class="ui icon small red button btn-remove-message">
          <i class="trash icon"></i>
          <span class="wide-only">Smazat</span>
          </button>
{{!--           <button id="btn-edit-message" data-message="{{_id}}" class="ui icon small blue button">
          <i class="edit icon"></i>
          <span class="wide-only">Upravit</span>
          </button> --}}
        </div>
        {{/if}}
      </div>
      <div class="text">
        {{#markdown}}{{text}}{{/markdown}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}
</template>