.hidden{
  display: none;
}

.align-right{
  text-align: right;
}

@media all and (max-width: 55rem){
  .wide-only{
    display: none;
  }
}

@media all and (min-width: 55rem){
  .narrow-only{
    display: none;
  }
}
