body{
    font-family: 'Open Sans', sans-serif !important;
}

.hidden{
    display: none;
}

.align-right{
    text-align: right;
}

@media all and (max-width: 768px){
    .wide-only{
        display: none;
    }
}

@media all and (min-width: 769px){
    .narrow-only{
        display: none;
    }
}
